@import '@fontsource/inter/index.css';
* {
  font-family: 'Inter';
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2.25rem;
}